<div class="first-component container">
    <div class="header-top">
      <div class="row">
        <div class="col-xs-2 logo">
          <a href="#"><img src="/images/PNG/logooriginal.png"></a>
        </div>
        <div class="col-xs-8 menu" id="menu">
          <ul class="nav  center-div" role="menu">
            <li><a href="#">HOME</a></li>
            <li><a href="#">YOUR PRODUCT</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">WHY US</a></li>
            <li><a href="#">FEATURES</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
          <!-- <div class="row hidden-lg">
            <div class="dropdown pull-left">
              <button type="button" class="btn dropdown-toggle btn-menu" data-toggle="dropdown">
                <span><i class="fa fa-list"></i>&nbsp;&nbsp;MENU</span>
              </button>
              <ul class="dropdown-menu nav">
                <li><a href="#">HOME</a></li>
                <li><a href="#">YOUR PRODUCT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">WHY US</a></li>
                <li><a href="#">FEATURES</a></li>
                <li><a href="#">CONTACT</a></li>
              </ul>
            </div>
          </div> -->
        </div>
        <div class=" col-xs-2 number-phone hidden-md hidden-sm hidden-xs">
          <span style="color: orange"><p>07955 396 217</p></span>
        </div>
      </div>
      <div class="row">
        <span class="line"></span>
      </div>
    </div>
  <div class="clearfix"></div>
  <div class="row pull-left intro">
    <div class="col-xs-12 sologan pull-left">
      <p>
        <span style="color: white">make the</span>
        <br>
        <span style="color: white">digital</span>
        <span style="color: orange">&nbsp;leap</span>
      </p>
    </div>
    <div class="col-xs-12 description pull-left" >
      <p>
        Based in London, Digiruu develops apps <br> and websites that really stand out. How? <br>
        Because of our obsession with the quality <br> of things unseen.
      </p>
    </div>
    <div class="col-xs-12 tell-me-more">
      <button type="button" class="btn">
        TELL ME MORE
      </button>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row quote">
      <div class="quote-content">
        <p>WHEN YOU'RE A CARPENTER MAKING A BEAUTIFUL CHEST OF DRAWERS,<br>
        YOU'RE NOT GOING TO USE A PIECE OF PLYWOOD ON THE BACK, EVEN <br>
        THOUGH IT FACES THE WALL AND NOBODY WILL SEE IT. YOU'LL KNOW <br>
        IT'S THERE, SO YOU'RE GOING TO USE A BEAUTIFUL PIECE OF WOOD <br>
        ON THE BACK. THE QUALITY HAS TO BE CARRIED ALL THE WAY THROUGH. </p>
        <div class="quote-line"></div>
        <div class="quote-author"><p>Steve Jobs</p></div>
      </div>
  </div>
</div>
