<div class="background1 container">
    <nav class="navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="/images/PNG/logooriginal.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" >
          <ul class="nav navbar-nav" id="menu-center">
            <li><a href="#">HOME </a></li>
            <li><a href="#">YOUR PRODUCT</a></li>
            <li><a href="#">SERVICES </a></li>
            <li><a href="#">WHY US </a></li>
            <li><a href="#">FEATURES </a></li>
            <li><a href="#">CONTACT </a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" id="menu-right">
            <li><a href="#">096 322 5057</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="-hr">
        <hr>
    </div>


    <!-- content -->
    <div class="sologan">
        <div id="white-words"> make the </div> 
        <div class="row">
            <div class="col-sm-7">
                <p id="white-words">digital</p>
            </div>
            <div class="col-sm-5">
                <p id="orange-wrods">leap</p>
            </div>
        </div>
    </div>

    <!-- introduce -->
    <div class="introduce">
        Based in London, Digiruu develops apps and websites that really stand out. How ?
        Because of our obsession with the quality of thing unseen.
    </div>

    <!-- blockquote -->
    <div class="blockquote">
        <blockquote>
          <p><q>WHEN YOU'RE A CARPENTER MAKING A BEAUTIFUL CHEST OF DRAWERS, YOU'RE NOT GOING TO
          USE A PIECE OF PLYWOOD ON THE BACK, EVEN THOUGH IT FACES THE WALL AND NOBODY WILL SEE IT.
          YOU'LL KNOW IT'S THERE, SO YOU'RE GOING TO USE A BEAUTIFUL PIECE OF WOOD ON THE BACK. THE QUALITY
          HAS TO BE CARRIED ALL THE WAY THROUGH. </q></p>
          <footer [ngStyle]="author"><cite title="Source Title">Steve Jobs</cite></footer>
        </blockquote>
    </div>
</div>
