<div class="sixth-component container" id="contact">
	<div class="pull-left col-xs-4 col-xs-offset-1 contact">
		<div class="row">
			<p [ngStyle]="content1">get in touch</p>
		</div>
		<div class="row">
			<p [ngStyle]="content2">Digiruu Ltd</p>
			<p [ngStyle]="content3">Aldgate Tower,</p>
			<p [ngStyle]="content3">2 Leman Street,</p>
			<p [ngStyle]="content3">London, E18FA.</p>
			<br>
		</div>
		<div class="row">
			<div [ngStyle]="content2" class="pull-left">
				<p>T:</p>
				<p>E:</p>
				<p>W:</p>
			</div>
			<div class="col-xs-offset-1">
				<p [ngStyle]="content3">07955 396 217</p>
				<p [ngStyle]="content3">info@digiruu.com</p>
				<p [ngStyle]="content3">www.digiruu.com</p>
			</div>
		</div>
	</div>	
	<div class="col-xs-6 form">
		<form>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<input type="text" class="form-control input-field" placeholder="First Name*">
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-field" placeholder="Phone Number*">
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<input type="text" class="form-control input-field" placeholder="Last Name*">
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-field" placeholder="Email Address*">
					</div>
				</div>
			</div>
			<div class="row text-field">
				<div class="form-group">
					<textarea class="form-control" rows="6" placeholder="Your question*" ></textarea>
					<div>
						<button type="submit" class="btn">SUBMIT</button>
						<div class="pull-right notice">
							<p>* denotes required field</p>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>	
</div>
