.sixth-component {
  background: url('/images/JPG/Layer 303 copy 3.jpg');
  height: 680px;
  position: relative;
}

.contact{
	color: #490d67;
	margin-top: 120px;
}


.form {
	margin-top: 270px;
}


.input-field {
	min-height: 56px;
}

.text-field {
	margin-left: 0px;
	margin-right: 0px;
}

.text-field .btn {
	margin-top: 20px;
}

.btn {
	min-width: 90px;
	background-color: #490D67;
	font-weight: bold;
	color: white;
}

.notice {
	color: white;
	font-size: 12px;
	float: right;
	margin-top: 10px;
}