<div class="background6 container">
	<div class="left-info">
		<p [ngStyle]="content1">get in touch</p>
		<div class="address">
			<p [ngStyle]="content2">Digiruu Ltd</p>
			<p [ngStyle]="content3">Aldgate Tower,</p>
			<p [ngStyle]="content3">2 Leman Street,</p>
			<p [ngStyle]="content3">London, E18FA.</p>
		</div>
		<div class="contact-info">
			<div class="contact-info-left">
				<div [ngStyle]="content2">
					<p>T:</p>
					<p>E:</p>
					<p>W:</p>
				</div>
			</div>
			<div class="contact-info-right">
				<p [ngStyle]="content3">07955 396 217</p>
				<p [ngStyle]="content3">info@digiruu.com</p>
				<p [ngStyle]="content3">www.digiruu.com</p>
			</div>
		</div>
	</div>	
	<div class= "right-form">
		<form>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<input type="text" class="form-control input-field" placeholder="First Name*">
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-field" placeholder="Phone Number*">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<input type="text" class="form-control input-field" placeholder="Last Name*">
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-field" placeholder="Email Address*">
					</div>
				</div>
			</div>
			<div class="row text-field">
				<div class="form-group">
					<textarea class="form-control" rows="6" placeholder="Your question*"></textarea>
					<button type="submit" class="btn">SUBMIT</button>
				</div>
				<div class="notice">
					<p>* denotes required field</p>
				</div>
			</div>
		</form>
	</div>
</div>
