.seventh-component {
  background: url('/images/JPG/Layer 303 copy 5.jpg');
  height: 472px;
  position: relative;
}

.logo {
	margin-top: 35px;
}

.logo>img {
	// margin-left: -20px;
}

.footer {
	margin-top: 40px;
}

.quick-links {
	
}

.follow-us {

}

.subscribe {

}

.input-field {
	height: 50px;
	border-radius: 2px;
	background-color: #A386B4;
	width: 100%;
}

.form {
	margin-top: 38px;
}

.form .text-input {
	opacity: 0.5;
}

.form .input-field {
	color: white;
}

.btn {
	height: 48px;
	width: 100%;
	background-color: #F6A704;
	font-weight: bold;
	color: white;
	border-radius: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
