<div class="background7 container">
	<div class="logo">
		<img src="/images/PNG/logowhite.png">
	</div>
	<div class="footer">
		<div class="quick-links">
			<p [ngStyle]="contentTitle">QUICK LINKS</p>
			<p [ngStyle]="content1">Home</p>
			<p [ngStyle]="content1">Your Product</p>
			<p [ngStyle]="content1">Services</p>
			<p [ngStyle]="content1">Why us</p>
			<p [ngStyle]="content1">Features</p>
			<p [ngStyle]="content1">Contact</p>
		</div>
		<div class="follow-us">
			<p [ngStyle]="contentTitle">FOLLOW US</p>
			<img src="/images/PNG/social.png">
		</div>
		<div class="subscribe">
			<p [ngStyle]="contentTitle">SUBSCRIBE TO OUR NEWSLETTER</p>
			<p [ngStyle]="content1">Stay up to date with what's happening at Digiruu by subscribing to our monthly newsletter...</p>
			<div class="form">
				<form class="form-inline">
  					<div class="form-group text-input">
    					<input type="text" class="form-control input-field" placeholder="Enter Email">
  					</div>
  					<button type="submit" class="btn">SUBMIT</button>
				</form>
			</div>
		</div>
	</div>
</div>