.background2 {
  background: url("../images/JPG/Layer 303 copy.jpg");
  height: 894px;
  width: 1450px;
  position: relative;
  
}

#product {
	background: url("../images/PNG/Iphones.png");
	width: 494px;
	height: 707px;
	position: absolute;
	top: 135px;
	left: 165px;
}

#content {
	position: absolute;
	left: 725px;
	top: 160px;
	font-family: "Tahoma", Geneva, sans-serif;
}
