<div id="yourproduct" class="second-component container">
	<div class="row">
	<div class="col-xs-5 product">
		<img src="/images/PNG/Iphones.png">
	</div>
	<div class="col-xs-5 col-xs-offset-1 content">
		<p [ngStyle]="yourProduct">your product</p>
		<p [ngStyle]="content1">Like the chest of drawers, your product will be carefully thought out 
		before being beautifully coded on a bespoke masterpiece foundation.</p>
		<br>
		<p [ngStyle]="content2">No shortcuts are taken so the quality is carried all the way through
		from the unseen right to the design. The result?</p>
		<br>
		<p [ngStyle]="content3">A powerful and professional app or website.</p>
	</div>
	</div>
</div>