<div class="background3 container">
	<div id="content">
		<p [ngStyle]="content1">services</p>
		<br>
		<p [ngStyle]="content2">Website Development</p>
		<br>
		<p [ngStyle]="content2">App Development</p>
		<br>
		<p [ngStyle]="content2">Business (Enterprise) Apps</p>
		<br>
		<p [ngStyle]="content2">App for Education</p>
		<br>
		<p [ngStyle]="content2">Lifestyle Apps</p>
		<br>
		<p [ngStyle]="content2">Visual Design & UI</p>
		<br>
		<p [ngStyle]="content2">Maintenance & Support</p>
	</div>
</div>