.background3 {
  background: url('../images/PNG/landingpageweb.jpg');
  height: 905px;
  width: 1450px;
  position: relative;
}

#content {
	position: absolute;
	top: 135px;
	left: 160px;
	font-family: "Tahoma", Geneva, sans-serif;
}



