<div class="fifth-component container">
	<div class="row center features">
		<p [ngStyle]="content1">features</p>
		<p [ngStyle]="content2">Why You Should Choose Digiruu</p>
	</div>

	<div class="row center reasons">
		<div class="half-row col-xs-4">
				<img src="/images/PNG/binoculars.png">
				<div [ngStyle]="divTitle">
					<p [ngStyle]="content3">Strong Focus</p>
					<p [ngStyle]="content3">on You</p>
				</div>
				<div>
					<p [ngStyle]="content4">Honest personal service, relationships built on trust,and unparalleled understanding of your needs</p>
				</div>
		</div>

		<div class="col-xs-4 half-row">
				<img src="/images/PNG/lap.png">
				<div [ngStyle]="divTitle">
					<p [ngStyle]="content3">Awesome Design</p>
					<p [ngStyle]="content3">& Development</p>
				</div>
				<div>
					<p [ngStyle]="content4">Beautiful coding that's built to be highly scalable and fast. Comprehensive skill-set to match the latest and right technology with your requirements so you can be assured of optimal quality from your budget</p>
				</div>
		</div>
		
		<div class="col-xs-4 half-row">
				<img src="/images/PNG/manager.png">
				<div [ngStyle]="divTitle">
					<p [ngStyle]="content3">Dedicated</p>
					<p [ngStyle]="content3">Project Manager(s)</p>
				</div>
				<div >
					<p [ngStyle]="contentCenter">Clear communication from Status Report based on your needs so you're kept completely in the loop. Available to meet up in our London offices at your convenience and by phone or email so you have a direct point of contact </p>
				</div>
		</div>
		<div class="col-xs-4 half-row">
				<img src="/images/PNG/share.png">
				<div [ngStyle]="divTitle">
					<p [ngStyle]="content3">Speciality in Small</p>
					<p [ngStyle]="content3">Business & MVPs</p>
				</div>
				<div >
					<p [ngStyle]="contentCenter">Efficient in defining MVP requirements so you know exactly what's necessary and what's not. Production with the future in minds using the latest technology </p>
				</div>
		</div>

		<div class="col-xs-4 half-row">
				<img src="/images/PNG/save.png">
				<div [ngStyle]="divTitle">
					<p [ngStyle]="content3">Value-Based</p>
					<p [ngStyle]="content3">Cost</p>
				</div>
				<div>
					<p [ngStyle]="content4">Full breakdown of costs so you know exactly what value you are getting. All prices agreed in advance so you won't be faced with surprise in hidden fees</p>
				</div>
		</div>
		<div class="col-xs-4 half-row">
				<img src="/images/PNG/notebook.png">
				<div [ngStyle]="divTitle">
					<p [ngStyle]="content3">Step by step</p>
					<p [ngStyle]="content3">Scheduling</p>
				</div>
				<div>
					<p [ngStyle]="content4">Full Project Schedule created for complete clarity and transparency</p>
				</div>
		</div>
	</div>
</div> 