.fifth-component {
  background-color: white;
  height: 978px;
  position: relative;
}

.features {
	padding-top: 100px;
	padding-bottom: 80px;
}

.reasons>p {
	font-size: 15px;
}

.half-row {
	min-height: 330px;
}


