.background5 {
  background-color: white;
  height: 978px;
  position: relative;
}

.row1 {
	position: absolute;
	top: 105px;
	width: 100%;
	text-align: center;
}

.row-center {
	text-align: center;
	position: relative;
	top: 285px;
}

.col-sm-4 {
	height: 660px;
}

.half-row {
	height: 330px;
}

#content-center {
	width: 350px;
}


p {
	font-family: "Tahoma", Geneva, sans-serif;
}
