.background4 {
  background: url('/images/JPG/Layer 303 copy 6.jpg');
  height: 787px;
  width: 1450px;
  position: relative;
}

#kanguru {
	background: url('../images/PNG/Vector Smart Object2.png');
	position: absolute;
	width: 493px;
	height: 400px;
	left: 167px;
	top: 223px;
	font-family: "Tahoma", Geneva, sans-serif;
}

#content {
	position: absolute;
	left: 800px;
	top: 115px;
	color: #fdfdfd;
}
