.fourth-component {
  background: url('/images/JPG/Layer 303 copy 6.jpg');
  height: 787px;
  position: relative;
}

.kanguru {
	padding-top: 220px;
}

.content {
	color: #fdfdfd;
	margin-left: 50px;
	padding-top: 110px;
}
