<div class="fourth-component container" id="whyus">
	<div class="kanguru col-xs-5 col-xs-offset-1">
		<img src="/images/PNG/Vector Smart Object2.png">
	</div>
	<div class="content col-xs-5">
		<p [ngStyle]="contentTitle">why us?</p>
		<br>
		<p [ngStyle]="content1">We live in a day and age where consumers are accustomed to the best technology. No one doubts the speeds of Facebook or the usability of Instagram, so you need to make sure your product is fast, modern
		and highly scalable.</p>
		<br>
		<p [ngStyle]="content2">It's the standard you need to aspire to, and the one you can have by choosing us.</p>
		<br>
		<p [ngStyle]="content3">THIS IS THE DIGITAL LEAP YOUR BUSINESS NEEDS.</p>
	</div>
</div>